filebeat.inputs:
  # 业务日志
  - type: filestream
    id: err-logs
    enabled: true
    paths:
      - /var/log/app_logs/error.log
    fields:
      log_topic: "error"
    fields_under_root: true
    parsers:
      - ndjson:
          keys_under_root: true
          overwrite_keys: true
          message_key: message

  - type: filestream
    id: user-logs
    enabled: true
    paths:
      - /var/log/app_logs/user.log
    fields:
      log_topic: "user"
    fields_under_root: true
    parsers:
      - ndjson:
          keys_under_root: true
          overwrite_keys: true
          message_key: message

  - type: filestream
    id: access-logs
    enabled: true
    paths:
      - /var/log/app_logs/access.log
    fields:
      log_topic: "access"
    fields_under_root: true
    parsers:
      - ndjson:
          keys_under_root: true
          overwrite_keys: true
          message_key: message
    # Access Log 的 message 字段本身还是一个 JSON 字符串，需要二次解析
    processors:
      - decode_json_fields:
          fields: ["message"]
          target: ""
          overwrite_keys: true
          add_error_key: false

output.elasticsearch:
  hosts: ["http://elasticsearch:9200"]
  # 默认索引
  index: "usergrowth-other-%{+yyyy.MM.dd}"
  
  # 动态路由规则
  indices:
    - index: "usergrowth-error-%{+yyyy.MM.dd}"
      when.equals:
        log_topic: "error"
    - index: "usergrowth-access-%{+yyyy.MM.dd}"
      when.equals:
        log_topic: "access"
    - index: "usergrowth-user-%{+yyyy.MM.dd}"
      when.equals:
        log_topic: "user"

# 必须设置 setup.template 才能让自定义索引名生效
setup.template.name: "usergrowth"
setup.template.pattern: "usergrowth-*"
setup.template.enabled: false 
setup.ilm.enabled: false      
data_stream.enabled: false
